<div class="container">
  <div class="row" *ngIf="currentBlog">
    <div class="col-md-12">
      <h2 class=" font-weight-bold">{{currentBlog.title}}</h2>

      <p class=" text-muted">Posted by {{currentBlog.author | titlecase}} ON {{currentBlog.created | date}}</p>
      <p *ngIf="currentBlog.tags.length>0" class=" font-weight-bold text-violet">Tags :
        <span *ngFor="let tag of currentBlog.tags;let first=first;let last=last">{{tag}}{{last ? '' : ', '}}</span>
      </p>
      <hr class=" dropdown-divider">
      <div class=" lead" [innerHtml]="currentBlog.bodyHtml"></div>
      <hr class=" dropdown-divider">
      <h5 class=" text-monospace">Category - {{currentBlog.category}}</h5>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="currentBlog">
    <div class="col">

      <a class="btn btn-outline-primary" [routerLink]="['/edit',currentBlog.blogId]">Edit </a>

    </div>
    <div class="col">

      <a class="btn btn-danger btn-outline-danger" (click)="deleteThisBlog()">Delete </a>

    </div>
    <div class="col">

      <a class="btn btn-warning btn-outline-warning" (click)="goBackToPreviousPage()">Go Back </a>
    </div>
  </div>

</div>