<div class=" container-fluid bg-light  shadow">
  <!-- <h1 class=" text-center p-2 title-web">Blog</h1> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/home" class=" navbar-brand title-web"> Blog </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse right" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item" routerLinkActive=" active">
          <a class="nav-link" routerLink="/home">Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive=" active">
          <a class="nav-link" routerLink="/about">About</a>
        </li>

        <li class="nav-item" routerLinkActive=" active">
          <a class="nav-link" routerLink="/create">Post a Blog</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
<br>
<router-outlet></router-outlet>