.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #4fcc56;
}

.ng-invalid:not(form) {
  border-left: 5px solid #e02f2c;
}
.form-control {
  font-family: 'Source Sans Pro', sans-serif;
}
label {
  font-weight: 600;
}
